.bodycol.mb- html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  background-color: #f4f4f4;
}
/*logo*/
#logo {
  position: absolute;
  top: 10px;
  left: 10px;
}
.text-warning {
  color: var(--Yellow, #ffd15b);
  text-align: center;
  font-family: Anton;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 800px;
  width: 100%;
}
.text-center {
  display: flex;
  justify-content: center;
}
@media (max-width: 400px) {
  #logo svg {
    width: 100px;
  }
  .text-warning {
    font-size: 10px;
    margin: 0;
    margin-top: 10px;
  }
}
@media (min-width: 728px) {
  .text-warning {
    color: var(--Yellow, #ffd15b);
    text-align: center;
    font-family: Anton;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
#logo_2 {
  font-family: "Anton", sans-serif;
  font-size: 18px;
  max-width: 90px;
  width: 100%;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}
/*logo*/
/* image de fond dans la nav*/
.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* image de fond dans la nav*/

/*filtres*/
.custom-bg-container {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}
/*filtres*/

/* Barre de recherche*/
.input svg {
  width: 25px;
  height: 20px;
}
#input_main {
  border-radius: 11px;
  background: #fff;
}
@media (min-width: 728px) {
  .form-control {
    width: 70%;
    height: 72px;
    flex-shrink: 0;
  }
  #loupeinput {
    position: relative;
    left: -10px;
    top: 10px;
    height: 35px;
    background-color: #1b1b1b;
    z-index: 10;
    border-radius: 10px;
    border-color: #1b1b1b;
    margin-left: -55px;
    font-size: 5px;
    width: 51px;
    height: 52px;
    flex-shrink: 0;
  }

  #loupeinput:hover{
    background-color: #ffd15b;
    border-color: #ffd15b;
  }

}
.Loupeinput {
  position: relative;
  left: -2px;
  top: 2px;
  height: 35px;
  background-color: #1b1b1b;
  z-index: 10;
  border-radius: 10px;
  border-color: #1b1b1b;
  margin-left: -55px;
  font-size: 5px;
}
.Loupeinput:hover {
  background-color: #ffd15b;
  border-color: #ffd15b;
}
.svgCroix {
  position: absolute;
  right: 12%;
  top: 55%;
  transform: translateY(-80%);
  cursor: pointer;
  z-index: 10;
  width: 13px;
  height: 13px;
}

/* Barre de recherche*/

/* Cards*/
.card-body,
p,
li {
  font-size: 14px;
  list-style: none;
  font-family: Manrope;
}
.card-body h5 {
  font-weight: bold;
  font-family: Anton;
  font-weight: 400;
  line-height: normal;
}
.card {
  width: 100%;
  max-width: 380px;
  height: 731px;
  border-radius: 21px;
}
.card img {
  height: 253px;
  object-fit: cover;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
}
.card h6 {
  color: var(--Grey, #7a7a7a);
  font-size: 12px;
  font-weight: bold;
}
.span_min {
  width: 63px;
  height: 26px;
  border-radius: 14px;
  text-align: center;
  background-color: #ffd15b;
  position: absolute;
  right: 20px;
  top: 20px;
}
.card:hover{
  transform: scale(1.1);
}
@media only screen and (max-width: 1350px) {
  .card {
    width: 80%;
    max-width: 380px;
  }
}
article {
  margin-bottom: 50px;

}

@media only screen and (max-width: 1350px) {
  article {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}
.card-text {
  color: var(--Black, #1b1b1b);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 40px;
  line-height: normal;
}
article {
  display: flex;
  justify-content: center;
}
.left-column {
  display: flex;
  flex-direction: column;
}

.right-column {
  display: flex;
  flex-direction: column;
}
.div_ingredients .col {
  flex: 1;
}
.Container_ingredient {
  font-family: Manrope;
  font-size: 14px;
  display: flex;
}
.Container_ingredient h6 {
  font-size: 14px;
  color: #1b1b1b;
}
.Container_ingredient p {
  color: var(--Grey, #7a7a7a);
}
.container-fluid label {
  cursor: pointer;
  margin-bottom: 0;
  width: 91%;
  max-width: 192px;
  height: 32px;
}
/* css nouveau select*/
.Container_select {
  display: flex;
  gap: 5%;
  margin-left: 5%;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 630px) {
  .container-fluid {
    display: block;
  }
  .select {
    display: flex;
    justify-content: center;
  }
  #logo_2 {
    text-align: center;
    max-width: 100%;
    width: 700px;

    display: flex;
    justify-content: center;
  }
  .Container_select {
    display: flex;
    gap: 5%;
    margin-left: 5%;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: 0;
  }
}
.select {
  cursor: pointer;
}
.select_label {
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: space-between;
  border: 1px solid #1e293b;
  padding: 5px 12px;
  display: inline-flex;
  border-radius: 11px;
  align-items: center;
  transition: 0.3s background-color ease-in-out;
  color: #1e293b;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  border: none;
  margin-bottom: 10px;
}
.select_label svg {
  height: 18px;
  width: 18px;
  margin-left: 10px;
  transition: 0.3s transform ease-in-out;
}
.select.active .select_label svg {
  transform: rotate(180deg);
}
.select.active .select_content {
  display: block;
}
.select_content {
  display: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 200px;
  height: 300px;
  border-radius: 5px;
  overflow: scroll;
  background-color: white;
  position: absolute;
  z-index: 1;
  scrollbar-width: thin;
}
.input {
  display: block;
  width: 100%;
  max-width: 170px;
  margin: 5px;
  margin-left: 10px;
  border: 1px solid #c6c6c6;
  border-radius: 2px;
  box-shadow: none;
  outline: none;
}
.select_content_field .croix {
  position: absolute;
  top: 14px;
  right: 40px;
}

.select_content_field .loupe_options {

  position: absolute;
  top: 12px;
  right: 20px;
}
.selectUstensiles div:hover {
  cursor: pointer;
  background-color: #ffd15b;
}
.selectAppareils div:hover {
  cursor: pointer;
  background-color: #ffd15b;
}
.selectIngredients div:hover {
  cursor: pointer;
  background-color: #ffd15b;
}
.select_content label {
  margin-left: 10px;
}
.DivTag {
  margin-left: 5%;
  margin-top: 2%;
  display: flex;
  gap: 60px;
}
.DivTag div {
  display: inline-flex;
  padding: 17px 18px;
  align-items: center;
  width: 203px;
  height: 53px;
  border-radius: 10px;
  background: #ffd15b;
}
.DivchildTag {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
