body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  background-color: #f4f4f4;
}
/*logo*/
#logo {
  position: absolute;
  top: 10px;
  left: 10px;
}
#logo_2 {
  font-family: "Anton", sans-serif;
  font-size: 18px;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}
/*logo*/
/* image de fond dans la nav*/
.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* image de fond dans la nav*/

/*filtres*/
.custom-bg-container {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}
select {
  margin-left: 40px;
  width: 25px;
}

/*filtres*/


/* Barre de recherche*/
.input  svg{
  width: 25px;
  height: 20px;
}
.form-inline.input-group.w-100{
  /*class de l'input*/
}
.Loupeinput {
  position: relative;
  left: 3px;
  top: 2px;
  height: 35px;
  background-color:#1B1B1B ;
  z-index: 10;
  border-radius: 10px;
  border-color: #1B1B1B;
  margin-left: -55px;
  font-size: 5px;
  
}
.Loupeinput:hover{
  background-color: #FFD15B;
  border-color: #FFD15B;
}
.svgCroix {
  position: absolute;
  right: 50px; 
  top: 50%; 
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  width: 13px;
  height: 13px;
}

/* Barre de recherche*/

/* Cards*/
.card-body,
p,li {
  font-size: 14px;
  list-style: none;
}
.card {
  width:100%;
  max-width: 380px;
  height: 731px;
}.card img {
 height:253px;
 object-fit: cover;
}
@media only screen and (max-width: 1350px) {
  .card {
    width:80%;
    max-width: 380px;
  }
}
article{
  margin-bottom: 50px;
}
@media only screen and (max-width: 1350px) {
  article {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}
.card-text {
  overflow: hidden;         /* Cache le texte qui dépasse */
  text-overflow: ellipsis;
}
.dynamic-input {
  width: calc(100% - 2px);
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 6px 12px;
}
